@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";

.containers{
    border:2px solid blue;
    text-align:center;
    height:500px;
    width:400px;
}
.rows{
    height:90px;
    width:396px;
    background-color:paleturquoise;
}
// admin session dezine
.admin{
    font-family: poppins;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    
}